/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html { 
    position: relative;
    min-height: 100%; 
}

body {  
  color: #5a5a5a;
  font-family: "lora", "open sans", "ubuntu", serif;  
}


h2 {    
    width: 300px; 
    height: 80px;
    margin: 20px auto;
    padding: 10px; 
    font-size: 200%;    
    font-family:  "ubuntu";
    text-transform: uppercase; 
    text-shadow: 2px 2px 1px #888;
    border-bottom: 1px solid white; 
}

footer {     
    background-color: gray;
    color: white;    
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0.8)), url('../images/tree_2.jpg'); 
	background-attachment: fixed;
	background-size: cover;
    height: 480px; 
    text-align: center; 
}

footer { font-size: 125%; border-top: 2px solid white; }
footer h2 { width: 50%; }
footer .glyphicon { font-size: 3em;  position: relative; top: 40px; transition: all 0.5s; }
footer .contact p { padding-top: 20px; font-weight: 100; font-size: 150%; font-family: lobster; opacity: 0; transition: all 2s; }
footer .contact ol { opacity: 0; transition: all 2s; }
footer .contact div { padding-top: 40px; border-radius: 0px; height: 180px; }
footer .contact div:hover { background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3));  }
footer .contact div:hover p { opacity: 1; }
footer .contact div:hover ol { opacity: 1; }
footer .contact div:hover .glyphicon { top: 0px; opacity: 0.1; font-size: 2.5em; }


footer .bottom { 
    width: 100%; 
    height: 4em; 
    line-height: 4em; 
    position: absolute; 
    bottom: 0; 
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)) 
}

.address { font-size: 100%; list-style: none; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* --------------------------------------- HEADER --------------------------------------- */
#header {
  width: 100%;
  height: 50px; 
  overflow: visible;
  //position: fixed; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 99999;    
  
  background-color: rgba(0,0,0, 0.6);  
  
  transition: all 1s;
  }
  
  #header .logo {
        display: inline-block;	
        height: 50px;
        width: 485px;	
        line-height: 50px;
        float: left;    
        font-family: "Nothing You Could Do";
        font-size: 140%;
        font-weight: 700;
        color: #fe0802; /* Bright-Red */  /*#e1264e;*/ /* Plum-Red */  

        transition: all 0.3s;         
    }
	
	#header .header-title { 
		margin-left: 110px;
		color: white;
	}	  
	
	.brand-image {
		width: 99px; 
		height: 99px; 
		position: absolute; 
		top: -25px; 
		filter: drop-shadow(1px 1px 1px #222) drop-shadow(0px 0px 0px #ccc);
	}
	 
	 .mobile-menu {
		display: block;
		position: absolute;
		opacity: 0;
		//top: -200px;
        top: 50px; 
        z-index: 99999999;        
		-webkit-transition: all 0.3s ease-in-out;
        
	}

	.mobile-menu-icon {
		display: none;
        width: 45px; height: 50px; 
        float: right;             
	}

/* --------------------- NAVIGATION MENU --------------------- */
   .nav, .nav a { 
	   position: relative;	   
       display: inline-block;
       float: right;
	   
       font-family: "Nothing You Could Do"; 
       font-size: 100%; 
       font-weight: 100;       
       color: #ccc;  
	}
	
  .nav ul { 
      margin: 0;
      padding: 0;
   }

   .nav li {
		list-style: none;
		display: inline-block;
   }
   
   .nav li.current  {
       background-color: rgba(0,0,0,0.4);	
       color: white;
       font-weight: 700;
	}


    #header .nav a {
      line-height: 50px;
      margin-left: 25px;  
      transition: all 0.3s; 
	}
	
    #header .nav a:hover { color: white; text-decoration: none; }
	
	#header .nav li {		
		padding-right: 20px;
		text-align: center;
        font-size: 110%;
	}		  

	#nav-select {
		display: none;
	}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    background-color: beige;  
}

.navbar-container { 
    height: 50px;
    padding: 0px;  /* Added to keep navbar from adding a horizontal scroll bar at certain widths */
	margin: 0px; 
    position: absolute;
    width: 100%;   
    z-index: 1000;
    background-color: rgba(0,0,0, 0.6);     
    transition: all 1s;	
	1border: 2px solid red;
	
	display: none;
}

.navbar { background-color: rgba(0,0,0,0); border: none; font-family: "Nothing You Could Do"; font-size: 130%; }

.navbar-header .navbar-brand {color: white; float: right; padding-left: 130px; font-weight: 700; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#myCarousel { height: 750px; width: 100%; }

/* Carousel base class */
.carousel {
  height: 750px;
  margin-bottom: 0px; 
  overflow: hidden; 
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 750px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 750px;
  width: 100%; 
  height: auto;    
}

.carousel-control.left { background-image: none; }
.carousel-control.right { background-image: none; }


/* ABOUT SECTION 
-------------------------------------------------- */

.about {  
    background: linear-gradient(to right, rgba(0, 0, 0, .95) 35%, rgba(0, 0, 0, 0.3)), url('../images/tea_1.jpg');	
	background-attachment: fixed;
    background-size: cover;  
    color: white; 
    font-size: 150%; 
    min-height: 450px;     
    top: -200px; 	 
}

.section-about {    
    padding: 0px 0px;
    position: relative; 
    left: -25%;
    width: 400px; 
    top: 100px; 
}


.community {
    background-color: beige; 
    background: linear-gradient(rgba(255, 255, 255, 0.8) 70%, rgba(0, 0, 0, 0.0)), url('../images/table_1.jpg');	
    background-size: cover;   
    color: dimgray;     
    height: 600px; 
    text-align: left; 	
}

.community span.glyphicon { 
    font-size: 6em;     
    text-shadow: 2px 2px 2px #888;
       
    display: flex;
	justify-content: center;    
}

.community .container .row div { margin: 100px 0px; }

.community h2 {   
    width: 100%; 
    height: 2em; 
    line-height: 2em; 
    font-size: 175%;     
    text-shadow: 1px 1px 0px gray;    
    font-family: "Nothing you could do";
    text-align: center;
}

.community p {   
  font-size: 125%;  
}

.community .btn { font-weight: 700; font-size: 150%; font-family: "Abel";  display: flex; 	justify-content: center;  box-shadow: 2px 2px 6px #888, inset 0px 0px 1px #777; }


/* NEXT EVENT BANNER
-------------------------------------------------- */
.upcoming-events {      
    color: white;  
}


.events { 
    position: relative; 
	overflow-x: hidden; 
	background:  repeating-linear-gradient(
				  45deg,
				  #606dbc,
				  #606dbc 10px,
				  #465298 10px,
				  #465298 20px
	);
	background-size: cover; 
	
	border-top: 20px solid white; 
	border-bottom: 20px solid white;
	box-shadow: 1px 1px 10px black; 
		
	z-index: 999;	 
    height: 275px; 	
}

.events h2 { border: 0px solid white; line-height: 2em; font-size: 3em; text-shadow: 4px 4px 3px gray;   width: 100%;  transform:  skew(-35deg, 0); }
.events p { font-size: 4em; text-style: uppercase; font-weight: 700; 
			font-family: "lobster"; color: orange; text-shadow: 1px 1px 1px yellow, 1px 1px 6px black; letter-spacing: 6px; 
		}	

/* CALENDAR & EVENT SECTION
-------------------------------------------------- */

.event { 
	border: 1px solid #ddd; 
	border-right: 10px solid orange; 
	padding: 10px; 
	transition: all 0.5s ease-in-out; 
	border-radius: 2px; 
	margin-bottom: 40px; 
	background-color: #fff;  
	box-shadow: 1px 1px 7px #000; 	
	transition: all 4s;
}

#eventList { 
	background: rgba(255, 255, 255, 0.5); 
    margin: 0px 20px
}

.event h3 { color: orange; font-size: 250%; text-transform: uppercase; margin: 0px; font-family: "Ubuntu"; }

.event_details { margin-left: 20px; float: left; width: 60%; }	
.event_date { color: black; font-size: 150%; }
.event_location { float: right; font-size: 125%; }
.event_desc { color: black; font-size: 125%; margin: 20px 0px; line-height: 1.5em;  }

.event_photo { float: left; padding: 0px; width: 300px; height: 225px;  }
.event_photo img { width: 100%; height: 100%; display: block; }
.event_date_overlay { 
    position: absolute; 
    z-index: 999; 
    width: 300px; 
    height: 225px; 
    font-size: 300%; 
    text-shadow: 2px 2px 1px black;
    font-family: "Ubuntu";
    color: white; 
    background-color: rgba(70, 82, 152, 0.85); 						
    text-align: center; 
    line-height: 225px; 
}



.calendar {
    background-color: beige; 
	background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2)), url('../img/leaves.jpg'); 
	background-size: cover;
	background-attachment: fixed;
}

#calendarFilter {
	margin: 40px;	
}

#calendarFilter span, em {
	font-size: 200%; 
	color: white; 
	text-shadow: 1px 1px 1px black;	
	padding: 10px; 
	transition: all .3s ease-in-out;
}

#calendarFilter span.active {
	border-bottom: 10px solid white; 		 
}

#calendarFilter span:hover { 	
	border-bottom: 1px solid white; 
}

#calendarFilter p { 
	font-size: 300%; color: white; text-shadow: 1px 1px 1px black;
}

#calendarFilter hr { display: none; width: 10%; height: 4px; background: white; border: none; transition: .3s ease-in-out; }

/* MEMBERS SECTION
-------------------------------------------------- */
.members { 
    background-color: gray; 
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/reflections - Copy.jpg');	
	background-attachment: fixed;
    background-size: cover; 
    color: white; 
    border-top: 1px solid #ccc;     
}
.members ul { width: 100%; list-style: none; }
.members li { display: inline-block; width: 30%; margin: 30px 20px; }
.members ul  img { width: auto; ; height: 100px; }

.patch-r { position: relative; left: 10px; top: 60px; float: right; width: 100px;}
.patch-l { position: relative; left: -85px; top: 60px; float: left; width: 100px; }


.join { color: #333; font-size: 150%; background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)); z-index: 9999; padding-bottom: 20px; overflow-x: hidden; }
.join h2 { width: 400px; }


/* SLIDESHOW SECTION
-------------------------------------------------- */
.carousel-indicators {
    width: 100%; 
    margin: 0px;
    padding: 0px; 
    left: 0;         
}

.carousel-indicators li  {
    width: 30%;         
    font-size: 1.25em; 
    text-indent: 0px; 
    height: 60px; 
    line-height: 60px;
    font-family: "open sans";
    font-weight: 700; 
    color: white; 
    text-transform: uppercase;    
    border-radius: 0px; 
    border: 0px; 
    margin: 0px; 
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    #box-shadow: 0px 0px 4px #aaa;  
    opacity: 0.5;
    transition: all 1.0s ease;    
}

.carousel-indicators li:hover {       
    opacity: 0.9;
}

.carousel-indicators li.active { 
    width: 30%; 
    border-radius: 0px;   
    height: 60px;     
    background-color: firebrick; 
    background: linear-gradient(rgba(178, 34, 34, 0.9), rgba(178, 34, 34, 0.9));    
    opacity: 1.0;
}

.carousel-caption { bottom: 220px; }
.carousel-caption h1 { font-size: 400%; font-family: 'open sans'; text-transform: uppercase; }
.carousel-caption p { font-size: 150%; }

.carousel-control .glyphicon { width: 80px; height: 80px; color: white; background-color: rgba(0,0,0, 0.5);  line-height: 80px; }

.carousel .btn { padding: 5px 80px; font-weight: 700; font-family: "Nothing you could do"; font-size: 125%; }

/*  At some point if we add delayed animations to the slides, pop in the date in a shape.
  .bowling-date-container { position: absolute; top: -100px; left: 80%;  
    background: url('/img/star.png'); 
    height: 300px; width: 400px; z-index: 9999; 
    background-repeat: no-repeat;   
    background-size: 100% 100%;
    transform: rotate(30deg); 
    opacity: 0.9;
    transition: all 5sec;
}

.bowling-date {  font-size: 300%; position: relative; top: 40%;  }  */


/* IMAGE COLLAGE
-------------------------------------------------- */
.collage { width: 100%; padding: 0px; margin: 0px; border-top: 2px solid white; box-shadow: 0px -2px 6px 1px #444; z-index: 9999;  }
.collage div { width: 16.666666667%; height: 160px; float: left;  }
.collage img { width: 100%; height: 100%;  }





/* INDIVIDUAL EVENT PAGE
-------------------------------------------------- */
.event_about { 
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)), url('../images/events/event_bowling_alley.PNG'); 
  padding-bottom: 40px;  font-size: 200%;
}
.event_about h3 { color: #606dbc; text-shadow: 0px 0px 10px white, 2px 2px 4px black; font-size: 200%; }
.event_about span { font-weight: 700; color: darkorange; font-size: 110%; padding-right: 20px; }
.event_about a { margin-top: 30px; font-weight: 700; }
.event_about .glyphicon { color: white; font-size: 110%; left: 10px; top: 4px;}
.event_about img { width: 60%; height: auto; border: 10px solid white; box-shadow: 1px 2px 10px #444; margin-top: 40px; }

.events_big { 
    position: relative; 
    overflow-x: hidden; 
    background:  repeating-linear-gradient(
                  45deg,
                  #606dbc,
                  #606dbc 10px,
                  #465298 10px,
                  #465298 20px
    );
    background-size: cover; 

    border-top: 0px solid white; 
    border-bottom: 20px solid white;
    box-shadow: 1px 1px 10px black; 

    z-index: 999;	 
    height: 600px; 	
}

.events_big h2 { margin-top: 175px; border: 0px solid white; line-height: 2em; font-size: 4em; text-shadow: 4px 4px 3px gray; width: 100%;  transform:  skew(-35deg, 0); }
.events_big p { font-size: 5em; text-style: uppercase; font-weight: 700; 
        font-family: "lobster"; color: orange; text-shadow: 1px 1px 1px yellow, 1px 1px 6px black; letter-spacing: 6px; 
}	



/*--------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------------------------------------------------------------------------------------------------- 

                                                            RESPONSIVE CSS - TABLETS

-----------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Bootstrap's Col-MD lines up with 992px so when Bootstrap changes the columns for tablet and smaller screens, lets change the content.  */
@media (max-width: 1030px) {
    /* Change some of our custom stuff to accomodate tablet size screens */
  h2 { font-size: 150%; line-height: 1.5em; }
  
    /* Hide the traditional top menu and replace it with the mobile menu */
    .nav { display: none; }  
  
    .mobile-menu-icon {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		margin: 10px;
        color: white; 
	}
    
    .dropdown:hover .mobile-menu {
        height: 200px;
        opacity: 1;
    }
  
	.mobile-menu {
		position: fixed;        
		display: block;
		background-color: orange; /*srgba(0, 0, 0, 0.5); /*#aaaaaa;			*/ 	
        height: 0;
        overflow: hidden;
		width: 35%;
        1min-width: 100px;
        left: 65%;
		line-height: 50px;		
		border-bottom: 1px solid white;
        border-left: 2px solid white;
		z-index: 10;	
        font-weight: 700;
        font-family: "Nothing You Could Do";        
	}
    
    .mobile-menu li {		
		width: 100%;
        height: 50px; 
		text-align: center;
		list-style: none;
		border-bottom: 1px solid white;        
	}	    
    
    .mobile-menu li:hover { background-color: red; }
	
	.mobile-menu a {		
        color: white;
        text-transform: uppercase; 
	}
	
	.mobile-menu a:hover  {
		color: white;
		text-decoration: none;        
	}
	
	.mobile-menu ul {
		padding: 0px;
		margin: 0px;
	}
	

   .calendar, .footer, .about { background-attachment: scroll; }
  
    
    
  .patch-l, .patch-r { display: none; }
  .collage div { height: 120px; }  
    
  .members { display: none; }
    
  .previous-events { display: none; } 
    .community { height: 100%; color: #333; } 
    .community span.glyphicon { font-size: 6em; text-shadow: 2px 1px 2px gray;  }
    .community h2 {        
        font-size: 1.5em; 
        height: 2em; 
        line-height: 2em;     
        color: #444;         
        font-weight: 700; 
        width: auto;  text-align: center;
    }
        
  
      
    .events { display: none;  }      
    
    
    footer .contact p { padding-top: 20px; font-weight: 100; font-size: 125%;  }
        
    .section-about {       
        left: -15%;           
    }	
	
	.event_details { margin-left: 20px; float: none; width: 100%; }		
	
	.event_date { display: block; }
	.event_location { float: none; font-size: 125%;}
	.event_desc { color: black; font-size: 125%; margin: 20px 0px; line-height: 1.5em;  }

	.event_photo { float: none; padding: 0px; width: 100%; height: 60px; display: block; background-color: rgba(70, 82, 152, 0.85); }
	.event_photo img { display: none;  }
	.event_date_overlay { 
        position: relative; 						
        width: 100%; 						
        color: white;
        background: rgba(0,0,0,0);						
        line-height: 60px; 
        left: 5%;
        font-size: 200%;
        text-shadow: none; 
    }	
        
}

/*--------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------------------------------------------------------------------------------------------------- 

                                                            RESPONSIVE CSS - PHONES AND SMALL TABLETS

-----------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------*/

/* Bootstrap's Col-MD lines up with 992px so when Bootstrap changes the columns for tablet and smaller screens, lets change the content.  */
@media (max-width: 992px) {
    
      .community p { color: dimgray; }
    .community .container .row div:last-of-type p  { color: white; font-weight: 700; }
}


/*--------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------------------------------------------------------------------------------------------------- 

                                                            RESPONSIVE CSS - PHONES AND SMALL TABLETS

-----------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Make some adjustments for really small screens */
@media (max-width: 767px) {
    h2 { width: 100%;   }
    
    #header .logo { font-size: 120%;  width: 400px;	 }
    #header .header-title { margin-left: 110px; }
   
    #myCarousel { height: 425px; }
    .carousel-indicators { display: none; }    
    .carousel { height: 350px;  }
    .carousel-caption { top: 15%; height: 200px; }
    .carousel-caption h1 { font-size: 200%; }
    .carousel-caption p { font-size: 125%; }
    .item:nth-child(2) img { height: 350px; }  /* Special rule to make the bowling image fill the container space correctly */
    
    .section-about { left: 0%;  top: 70px; }
    
    
    .event_about { font-size: 150%; }
    .event_about img { width: 100%; height: auto; border: 10px solid white; box-shadow: 1px 2px 10px #444; margin-top: 40px; }
    .events_big { height: 400px; font-size: 60%; }
    .events_big h2 {  margin-top: 90px; }
    
    /* Hide a quarter of the pictures and crank up the image size so the end result is a 3x3 grid of images */
    .collage div:nth-child(4n) { display: none; }
    .collage div { width: 33.333%; height: 160px; float: left;  }    
    
    footer { 
        height: 800px;     
        background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url('../images/tree_1.jpg');
        background-size: cover;              
    }
    
    footer h2 { width: 100%; }
    
    footer .contact div { padding-top: 40px; border: 1px solid #999; border-radius: 0px; margin: 5px 10px; height: 175px; }
		
	.event_desc { display: none; }
	.event_date { display: block; }
	.event_location { padding: 0px; margin: 0px; }
	
    #calendarFilter span, em { font-size: 150%; padding: 5px; }
    #calendarFilter span.active { 	border-bottom: 5px solid white; } 
    
    
}


/*--------------------------------------------------------------------------------------------------------------------------------------------- 
----------------------------------------------------------------------------------------------------------------------------------------------- 

                                                            RESPONSIVE CSS - PHONES

-----------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------*/
/* Make some adjustments for really small screens */
@media (max-width: 600px) {
     #calendarFilter span, em { font-size: 100%; padding: 3px; }
    #calendarFilter span.active { 	border-bottom: 2px solid white;  }
    .brand-image { margin-left: 33%; top: -20%; }
    .header-title { display: none; }
    .section-about { width: 350px; }    
    #header .logo { width: 100%; }   
        
    .event_about { font-size: 110%; }
    .event_about span { padding-right: 5px; }    
    .events_big { height: 400px; font-size: 60%; }
    .events_big h2 {  margin-top: 90px; }
}



